<div class="fixed flex flex-col bg-white bottom-0 left-0 w-full h-screen items-center justify-center gap-12">
  <span class="text-xl">Sajnálom, éppen karbantartás történik</span>
  <span class='block h-0.5 w-48 bg-black rounded-lg'></span>
  <span class="text-lg">Nézz vissza később</span>
</div>